*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    text-align: center;
}
#main .options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 150px 0;
}
#main .options .option{
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    border: 5px solid transparent;
    transition: .3s;
    
}
#main .options .option:hover{
    opacity: .6;
    border-color: black;
    animation: shake 0.5s ease-in-out;
    transform: scale(1.2);
}
@keyframes shake{
    0% { transform: translateX(0) scale(1.01); }
  20%  { transform: translateX(-5px) scale(1.02); }
  40%  { transform: translateX(5px) scale(1.04); }
  60%  { transform: translateX(-5px) scale(1.08); }
  80%  { transform: translateX(5px) scale(1.1); }
  100% { transform: translateX(0) scale(1.2); }
}
#main .options .option img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
#res{
    text-align: center;    
}
#score .result, #score .score{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px;
}